body {
  font-family: "Roboto", sans-serif;
  width: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.header.header--arrow {
  position: relative;
}

.fa-arrow-left {
  font-size: 1.3em;
  width: 100px;
  position: absolute;
  left: 1.6rem;
  bottom: 1.3rem;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1e0e0;
  height: 50px;
  box-shadow: inset 0 4px 5px 0 #b2b2b2;
}

.location__icon-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: none;
  background-color: #e1e0e0;
  height: 30px;
}
input::placeholder {
  color: black;
  font-weight: bold;
  opacity: 0.8;
  padding-left: 10px;
  border-top: 1px solid #e1e0e0;
  font-size: 1.1em;
}

.footer {
  color: white;
  padding: 0 20px 30px 20px;
  background-color: #333333;
  height: auto;
}
@media all and (min-width: 768px) {
  .footer {
    padding-top: 30px;
  }
}

.footer__logo {
  height: 60px;
  display: flex;
  align-items: center;
}
.footer__logo img {
  height: 20px;
  filter: invert(100%);
}
@media all and (min-width: 768px) {
  .footer__logo {
    position: absolute;
    height: auto;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.footer__nav ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.5;
  margin: 0;
}
@media all and (min-width: 768px) {
  .footer__nav ul {
    display: flex;
    justify-content: space-evenly;
    padding-left: 110px;
  }
}

.footer__nav__link {
  display: flex;
  color: white;
  align-items: baseline;
}

.fa-hands-helping, .fa-utensils {
  width: 25px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  padding: 30px 0 30px 0;
}
.btn-wrapper.btn-wrapper--order {
  padding: 20px 0 0 0;
}

.btn-gradient {
  color: white;
  width: 190px;
  height: 45px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(#FF79DA 0%, #9356DC 100%);
}
.btn-gradient:hover {
  background: linear-gradient(#ff93e1 0%, #a16be0 100%);
  box-shadow: 0px 0px 15px 2px #c0bfbf;
}
.btn-gradient.btn-gradient--order {
  width: 160px;
}

.btn-choice {
  width: 100%;
  height: 70px;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 5px 8px 3px #e1e0e0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.btn-choice:hover .selection-btn__icon {
  color: #9356DC;
  background: #f2eafb;
}
.btn-choice:hover {
  background: #f2eafb;
}

.btn-menu {
  width: 100%;
  height: 70px;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 5px 8px 3px #e1e0e0;
  margin-bottom: 20px;
  background-color: white;
  overflow: hidden;
  opacity: 0;
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 0 20px;
  padding: 0;
  align-items: center;
  animation: menu 1700ms forwards;
}
.btn-menu:hover .btn-menu__check {
  overflow: hidden;
  opacity: 1;
  width: 70px;
  transform: translateX(0);
}
.btn-menu:hover .fa-check-circle {
  transform: rotate(360deg);
  opacity: 1;
}
.btn-menu.btn-menu:nth-child(1) {
  animation-delay: 170ms;
}
.btn-menu.btn-menu:nth-child(2) {
  animation-delay: 340ms;
}
.btn-menu.btn-menu:nth-child(3) {
  animation-delay: 510ms;
}
.btn-menu.btn-menu:nth-child(4) {
  animation-delay: 680ms;
}
.btn-menu.btn-menu:nth-child(5) {
  animation-delay: 850ms;
}
.btn-menu.btn-menu:nth-child(6) {
  animation-delay: 1020ms;
}
.btn-menu.btn-menu:nth-child(7) {
  animation-delay: 1190ms;
}
.btn-menu.btn-menu:nth-child(8) {
  animation-delay: 1360ms;
}
.btn-menu.btn-menu:nth-child(9) {
  animation-delay: 1530ms;
}
.btn-menu.btn-menu:nth-child(10) {
  animation-delay: 1700ms;
}

@keyframes menu {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.heart-icon {
  padding: 10px 20px;
  font-size: 1.4em;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.heart-icon .empty {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  font-size: 1.4em;
  opacity: 1;
  transition: opacity 1500ms linear;
}
.heart-icon .empty:hover {
  opacity: 0;
}

.empty:hover + .full::after {
  transform: translateY(-100%);
}

.heart-icon .full {
  position: relative;
  cursor: pointer;
  z-index: 1;
  font-size: 1.4em;
  color: transparent;
  background: linear-gradient(#FF79DA 0%, #9356DC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heart-icon .full::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 150%;
  height: 150%;
  background-color: #f0f0f0;
  transition: transform 1500ms linear;
}

.titles {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px 10px;
  line-height: 2em;
  background-color: white;
}
.titles h2 {
  font-size: 1em;
  margin: 0;
}
.titles h3 {
  font-size: 0.9em;
  font-weight: 400;
  opacity: 0.7;
  margin: 0;
  line-height: 1em;
}

.btn-menu__titles {
  font-size: 1.1em;
  text-align: start;
  overflow: hidden;
  padding: 0 20px;
  grid-column-start: 1;
}
.btn-menu__titles h2,
.btn-menu__titles h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.8em;
  margin: 0;
  padding: 5px 0;
}
.btn-menu__titles h3 {
  font-weight: 200;
}

.rest-card-image {
  width: 100%;
}
.rest-card-image img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 150px;
  object-fit: cover;
}

.rest-card-image.rest-card-image--menu img {
  height: 240px;
  border-radius: inherit;
}

.loading {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #333;
  text-align: center;
  overflow: hidden;
  z-index: 99999;
  visibility: hidden;
  animation: loading 4s linear;
}

@keyframes loading {
  0% {
    visibility: visible;
  }
  90% {
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
.loading h2 {
  color: #ccc;
  margin: 0;
  font-size: 2em;
  font-family: Shrikhand;
}

.balls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}

.loading span {
  width: 1em;
  height: 1em;
  margin: 0.19em;
  background: #ffe0f6;
  border-radius: 0.6em;
  animation: loadingspan 1s infinite alternate;
}

.loading span:nth-of-type(2) {
  background: #ffbdec;
  animation-delay: 0.2s;
}

.loading span:nth-of-type(3) {
  background: #FF79DA;
  animation-delay: 0.4s;
}

.loading span:nth-of-type(4) {
  background: #9356DC;
  animation-delay: 0.6s;
}

.loading span:nth-of-type(5) {
  background: #9e98e2;
  animation-delay: 0.8s;
}

.loading span:nth-of-type(6) {
  background: #98c3e2;
  animation-delay: 1s;
}

.loading span:nth-of-type(7) {
  background: #99E2D0;
  animation-delay: 1.2s;
}

@keyframes loadingspan {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.intro {
  background-color: #e7e6e6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 40px;
}

.intro__main-heading {
  margin-top: 0px;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

.intro__byline-heading {
  text-align: center;
  opacity: 0.6;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0;
}

.selection {
  padding: 30px 20px 40px 20px;
}
.selection h3 {
  font-size: 1.3em;
}

@media all and (min-width: 980px) {
  .selection-btn-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.selection-btn {
  display: flex;
  align-items: center;
  position: relative;
}
@media all and (min-width: 980px) {
  .selection-btn {
    width: 31%;
  }
}

.selection-btn__number {
  display: inline-block;
  position: absolute;
  background-color: #9356DC;
  color: white;
  border-radius: 20px;
  width: 28px;
  height: 28px;
  left: -12px;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.selection-btn__icon {
  width: 50px;
  color: #7d7d7d;
  font-weight: bold;
  font-size: 1.5em;
  padding: 0 20px;
}

.selection-btn__text {
  width: 80%;
}
.selection-btn__text p {
  text-align: left;
  font-size: 1.2em;
}

.rest {
  padding: 40px 20px 30px 20px;
  background-color: #e7e6e6;
  height: auto;
}

@media all and (min-width: 980px) {
  .rest-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media all and (min-width: 980px) {
  .rest-card-wrapper > a {
    width: 49%;
  }
}

.rest-card {
  border-radius: 20px;
  margin-bottom: 20px;
  height: 230px;
  background-color: white;
  box-shadow: 0px 5px 8px 3px #e1e0e0;
  position: relative;
}

.rest-card__wrapper-titles-icon {
  display: flex;
  justify-content: space-between;
}

.rest-card__label {
  position: absolute;
  background-color: #99E2D0;
  font-weight: bold;
  height: 30px;
  width: 80px;
  color: #299077;
  bottom: 11rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #f0f0f0;
}

.menu {
  padding: 0 20px;
  border-radius: 60px 60px 0 0;
  background-color: #f0f0f0;
  position: relative;
  top: -50px;
  height: auto;
}

.menu-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}
.menu-heading h1 {
  font-family: Shrikhand;
  font-size: 1.6em;
}

.menu-content > h2 {
  font-size: 1em;
  font-weight: 400;
  opacity: 0.7;
}
.menu-content > h2::after {
  content: "";
  border-bottom: 3px solid #99E2D0;
  display: block;
  width: 40px;
  padding-top: 5px;
}

.titles-price-wrapper {
  display: flex;
  justify-content: flex-start;
}

.btn-menu__price {
  font-size: 0.8em;
  margin: 0;
  align-self: end;
  line-height: 2.2em;
}
.btn-menu__price p {
  padding-bottom: 5px;
  margin: 0;
}

.btn-menu__check {
  width: 0px;
  height: 100%;
  background-color: #99E2D0;
  border-radius: 0 25px 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 1;
  transform: translateX(100%);
  transition: all 350ms linear;
}

.fa-check-circle {
  color: white;
  font-size: 1.5em;
  opacity: 0;
  transform: rotate(0deg);
  transition: all 250ms linear;
}

@media all and (min-width: 980px) {
  .menu-content-wrapper {
    display: flex;
    justify-content: space-evenly;
  }
}

@media all and (min-width: 980px) {
  .menu-content {
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
