body {
  font-family: "Roboto", sans-serif;
  width: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.header.header--arrow {
  position: relative;
}

.fa-arrow-left {
  font-size: 1.3em;
  width: 100px;
  position: absolute;
  left: 1.6rem;
  bottom: 1.3rem;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1e0e0;
  height: 50px;
  box-shadow: inset 0 4px 5px 0 #b2b2b2;
}

.location__icon-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: none;
  background-color: #e1e0e0;
  height: 30px;
}
input::placeholder {
  color: black;
  font-weight: bold;
  opacity: 0.8;
  padding-left: 10px;
  border-top: 1px solid #e1e0e0;
  font-size: 1.1em;
}

.footer {
  color: white;
  padding: 0 20px 30px 20px;
  background-color: #333333;
  height: auto;
}

.footer__logo {
  height: 60px;
  display: flex;
  align-items: center;
}
.footer__logo img {
  height: 20px;
  filter: invert(100%);
}

a {
  text-decoration: none;
  color: inherit;
}

.footer__nav ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.5;
  margin: 0;
}

.footer__nav__link {
  display: flex;
  color: white;
  align-items: baseline;
}

.fa-hands-helping, .fa-utensils {
  width: 25px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  padding: 30px 0 50px 0;
}
.btn-wrapper.btn-wrapper--order {
  padding: 20px 0 0 0;
}

.btn-gradient {
  color: white;
  width: 190px;
  height: 45px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(#FF79DA 0%, #9356DC 100%);
}
.btn-gradient:hover {
  background: linear-gradient(#ff93e1 0%, #a16be0 100%);
  box-shadow: 0px 0px 15px 2px #c0bfbf;
}
.btn-gradient.btn-gradient--order {
  width: 160px;
}

.btn-choice {
  width: 100%;
  height: 70px;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 5px 8px 3px #e1e0e0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.btn-choice:hover .selection-btn__icon {
  color: #9356DC;
}
.btn-choice:hover .selection-btn__icon::after {
  content: "";
  opacity: 0;
}
.btn-choice:hover .selection-btn__icon::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 25px;
  opacity: 1;
  z-index: -1;
  background: #f2eafb;
  transition: opacity 250ms;
}
.btn-choice.btn-choice--menu {
  justify-content: flex-start;
  background-color: white;
  opacity: 0;
  animation: menu 1700ms forwards;
  overflow: hidden;
}
.btn-choice.btn-choice--menu.btn-choice:nth-child(1) {
  animation-delay: 170ms;
}
.btn-choice.btn-choice--menu.btn-choice:nth-child(2) {
  animation-delay: 340ms;
}
.btn-choice.btn-choice--menu.btn-choice:nth-child(3) {
  animation-delay: 510ms;
}
.btn-choice.btn-choice--menu.btn-choice:nth-child(4) {
  animation-delay: 680ms;
}
.btn-choice.btn-choice--menu.btn-choice:nth-child(5) {
  animation-delay: 850ms;
}
.btn-choice.btn-choice--menu.btn-choice:nth-child(6) {
  animation-delay: 1020ms;
}
.btn-choice.btn-choice--menu.btn-choice:nth-child(7) {
  animation-delay: 1190ms;
}
.btn-choice.btn-choice--menu.btn-choice:nth-child(8) {
  animation-delay: 1360ms;
}
.btn-choice.btn-choice--menu.btn-choice:nth-child(9) {
  animation-delay: 1530ms;
}
.btn-choice.btn-choice--menu.btn-choice:nth-child(10) {
  animation-delay: 1700ms;
}

@keyframes menu {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.btn-choice--menu:hover .check {
  animation: check-on 450ms linear forwards;
  overflow: hidden;
  opacity: 1;
}

.btn-choice--menu:hover .fa-check-circle {
  animation: circle-turn-on 350ms;
}

.btn-choice--menu:hover .price {
  animation: check-on 450ms linear backwards;
  animation-delay: 50ms;
  overflow: hidden;
  opacity: 1;
}

@keyframes check-on {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes check-off {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes circle-turn-on {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes circle-turn-off {
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.heart-icon {
  padding: 10px 20px;
  font-size: 1.5em;
}

.heart-icon .far {
  position: relative;
  cursor: pointer;
  opacity: 1;
}

/*
.heart-icon .fas{
position: absolute;
right: 0;
left:338px;
bottom: 0;
top:26.5px;
opacity: 1;
//background: $color-tertiary;
opacity: 0;

background-clip: text;
-webkit-text-fill-color:transparent;
background:indigo;


&:hover{
opacity: 1;
animation: heart 2000ms;


}
}
@keyframes heart{
    0%{
        margin-top: 10px;
    }
    5%{
        margin-top: 8px;

    }
    20%{
        margin-top: 6px;
    }
    50%{
        margin-top: 3px;
    }
}
*/
.titles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px 10px;
  line-height: 2em;
  background-color: white;
}
.titles h2 {
  font-size: 1em;
  margin: 0;
}
.titles h3 {
  font-size: 0.9em;
  font-weight: 400;
  opacity: 0.7;
  margin: 0;
  line-height: 1em;
}
.titles.titles--menu {
  line-height: 2.2em;
}
.titles.titles--menu h2 {
  font-size: 1.1em;
}
.titles.titles--menu h3 {
  font-size: 1em;
}

.rest-card-image {
  width: 100%;
}
.rest-card-image img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 150px;
  object-fit: cover;
}

.rest-card-image.rest-card-image--menu img {
  height: 240px;
  border-radius: inherit;
}

.loader {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
  z-index: 99999;
  visibility: hidden;
  animation: loading 4s linear;
}

@keyframes loading {
  0% {
    visibility: visible;
  }
  90% {
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
.loader__item-oh {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Shrikhand;
  width: 15vw;
  height: 15vw;
  border-radius: 100%;
  font-size: 1.2em;
  animation: testanimation 1100ms linear backwards;
  animation-iteration-count: 3;
  opacity: 0;
  overflow: hidden;
  background-color: #9356DC;
  animation-delay: 0.1s;
}

.loader__item-my {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Shrikhand;
  width: 15vw;
  height: 15vw;
  border-radius: 100%;
  font-size: 1.2em;
  background-color: #FF79DA;
  animation: testanimation 1100ms linear backwards;
  animation-iteration-count: 3;
  font-size: 1.2em;
  opacity: 0;
  overflow: hidden;
  background-color: #FF79DA;
  animation-delay: 0.2s;
}

.loader__item-food {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Shrikhand;
  width: 15vw;
  height: 15vw;
  border-radius: 100%;
  font-size: 1.2em;
  animation: testanimation 1100ms linear backwards;
  animation-iteration-count: 3;
  opacity: 0;
  font-size: 1.2em;
  overflow: hidden;
  background-color: #99E2D0;
  animation-delay: 0.3s;
}

@keyframes testanimation {
  0% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
  25% {
    transform: scale(0.4);
    filter: blur(3px);
    opacity: 1;
  }
  50% {
    transform: scale(0.8);
    filter: blur(3px);
    opacity: 1;
  }
  75% {
    transform: scalex(1);
    filter: blur(3px);
    opacity: 1;
  }
  85% {
    transform: scalex(1.1);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}
.intro {
  background-color: #e7e6e6;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.intro__main-heading {
  margin-top: 0px;
  padding-top: 30px;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

.intro__byline-heading {
  text-align: center;
  opacity: 0.6;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0;
}

.selection {
  padding: 30px 20px 40px 20px;
}
.selection h3 {
  font-size: 1.3em;
}

.selection-btn {
  display: flex;
  align-items: center;
  position: relative;
}

.selection-btn__number {
  display: inline-block;
  position: absolute;
  background-color: #9356DC;
  color: white;
  border-radius: 20px;
  width: 28px;
  height: 28px;
  left: -12px;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.selection-btn__icon {
  width: 50px;
  color: #7d7d7d;
  font-weight: bold;
  font-size: 1.5em;
  padding: 0 20px;
}

.selection-btn__text {
  width: 80%;
}
.selection-btn__text p {
  text-align: left;
  font-size: 1.2em;
}

.rest {
  padding: 40px 20px 30px 20px;
  background-color: #e7e6e6;
  height: auto;
}

.rest-card {
  border-radius: 20px;
  margin-bottom: 20px;
  height: 230px;
  background-color: white;
  box-shadow: 0px 5px 8px 3px #e1e0e0;
  position: relative;
}

.rest-card__wrapper-titles-icon {
  display: flex;
  justify-content: space-between;
}

.rest-card__label {
  position: absolute;
  background-color: #99E2D0;
  font-weight: bold;
  height: 30px;
  width: 80px;
  color: #299077;
  bottom: 11rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #f0f0f0;
}

.menu {
  padding: 0 20px;
  border-radius: 60px 60px 0 0;
  background-color: #f0f0f0;
  position: relative;
  top: -50px;
  height: auto;
}

.menu-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}
.menu-heading h1 {
  font-family: Shrikhand;
  font-size: 1.6em;
}

.menu-content > h2 {
  font-size: 1em;
  font-weight: 400;
  opacity: 0.7;
}
.menu-content > h2::after {
  content: "";
  border-bottom: 3px solid #99E2D0;
  display: block;
  width: 40px;
  padding-top: 5px;
}

.titles-price-wrapper {
  display: flex;
  justify-content: flex-start;
}

.price {
  position: absolute;
  right: 3rem;
  bottom: -0.1rem;
  opacity: 0.8;
  font-size: 1em;
  width: 70px;
  display: flex;
  justify-content: end;
  animation: check-off 450ms linear forwards reverse;
  animation-delay: 50ms;
}

.check {
  width: 70px;
  height: 70px;
  background-color: #99E2D0;
  border-radius: 0 25px 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  overflow: hidden;
  opacity: 0;
  animation: check-off 450ms linear reverse;
}

.fa-check-circle {
  color: white;
  font-size: 1.5em;
  animation: circle-turn-off 350ms;
}

/*# sourceMappingURL=style.css.map */
