@use "../abstracts/variables" as *;

//mixin for btn gradient

$list: $color-secondary, $color-primary;

@mixin gradient {
    background: linear-gradient($list);
}

//mixin with function for background color

@mixin light-bg{
background-color: scale-color($color: $dark-bg,  $lightness: 20%,);
}

//mixin with function for background color

@mixin lighter-bg{
    background-color: scale-color($color: $dark-bg,  $lightness: 50%,);
    }

//mixin with function for header shadow


@mixin header-shadow {
    box-shadow: inset 0 4px 5px 0 scale-color($color: $dark-bg,  $blackness: 30%,);
}

//mixin with function for selection-btn shadow


@mixin selection-btn-shadow {
    box-shadow: 0px 5px 8px 3px $dark-bg;
}
//mixin with function for selection-btn hover gradient 

@mixin selection-btn-gradient {
    background-color: scale-color($color: $color-primary,  $lightness: 90%,);
}

//mixin with function for background color

@mixin grey-bg{
background-color: scale-color($color: black,  $lightness: 20%,);
}

//Animation page accueil loader

@mixin loading-ball {

    display: flex;
  justify-content: center;
  align-items: center;
  font-family: Shrikhand;
  width: 15vw;
  height: 15vw;
  border-radius: 100%;
  font-size: 1.2em;
}

//breakpoints 

$breakpoints:(
    desktop:980px,
    tablette:768px,
);

@mixin desktop{
    @media all and (min-width: map-get($breakpoints,desktop)){
        @content;
    }
}
@mixin tablette{
    @media all and (min-width: map-get($breakpoints,tablette)){
        @content;
    }
}