@use "../1-abstracts/variables" as *;

//mixin for btn gradient

$list: $color-secondary, $color-primary;

@mixin gradient {
    background: linear-gradient($list);
}

//mixin with function for background color

@mixin light-bg{
background-color: scale-color($color: $dark-bg,  $lightness: 50%,);
}

//mixin with function for background color

@mixin lighter-bg{
    background-color: scale-color($color: $dark-bg,  $lightness: 50%,);
    }

//mixin with function for header shadow

$size:4px;
@mixin header-shadow {
    box-shadow: $size $size $size*8 scale-color($color: $dark-bg,  $blackness: 30%,);
}

//mixin with function for selection-btn shadow

$size:4px;
@mixin selection-btn-shadow {
    box-shadow: $size $size $size*2 scale-color($color: $dark-bg,  $lightness: 5%,);
}
//mixin with function for selection-btn hover gradient 

@mixin selection-btn-gradient {
    background-color: scale-color($color: $color-primary,  $lightness: 90%,);
}

$number:1,2,3;
@mixin number{
    content: "nth($number,1)";
}