@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

//wrapper btn page d'accueil "explorer"

.btn-wrapper {
  display: flex;
  justify-content: center;
  padding: 30px 0 50px 0;

  //modificateur wrapper btn page menu "commander"

  &.btn-wrapper--order {
    padding: 20px 0 0 0;
  }
}
//btn page d'accueil "explorer"

.btn-gradient {
  color: white;
  width: 190px;
  height: 45px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;

  background: linear-gradient($color-secondary 0%, $color-primary 100%);

  &:hover {
    background: linear-gradient(
      lighten($color: $color-secondary, $amount: 5) 0%,
      lighten($color-primary, 5) 100%
    );
    box-shadow: 0px 0px 15px 2px rgb(192, 191, 191);
  }

  //modificateur btn page menu "commander"

  &.btn-gradient--order {
    width: 160px;
  }
}

//bouttons page d'accueil "fonctionnement"

.btn-choice {
  width: 100%;
  height: 70px;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  //@include light-bg;
  @include selection-btn-shadow;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;

  //et si juste un hover avec la couleur ?

  &:hover .selection-btn__icon {
    color: $color-primary;

    &::after {
      content: "";
      opacity: 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      border-radius: 25px;
      opacity: 1;
      z-index: -1;
      background: lighten($color: $color-primary, $amount: 35);
      transition: opacity 250ms;
    }
  }

  //modificateur bouttons-page menu "fonctionnement"

  $nmb-btn: 10;
  $anim-dur: 1700ms;
  $anim-delay: $anim-dur/$nmb-btn;

  &.btn-choice--menu {
    justify-content: flex-start;
    background-color: white;
    opacity: 0;
    animation: menu $anim-dur forwards;
    overflow: hidden;

//boucle pour la creation de delai de l'animation pour chaque bouton-menu

    @for $i from 1 through $nmb-btn {

      &.btn-choice:nth-child(#{$i}) {

        animation-delay: $anim-delay*$i;
      }
    }
  }
}

  @keyframes menu {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

.btn-choice--menu:hover .check {

  animation:check-on 450ms linear forwards;
  overflow: hidden;
  opacity:1;
}

.btn-choice--menu:hover .fa-check-circle{
  animation:circle-turn-on 350ms ;

}

.btn-choice--menu:hover .price {

  animation:check-on 450ms linear backwards;
  animation-delay: 50ms;
  overflow: hidden;
  opacity:1;
}

@keyframes check-on{

  0%{

    transform:translateX(100%);

  }

  
  100%{

    transform:translateX(0%);
    
}
}


@keyframes check-off{

  0%{
    transform:translateX(100%);
    opacity:1;
  }
  
  100%{
    transform:translateX(0%);
    opacity:1;
}
}

@keyframes circle-turn-on{
 
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes circle-turn-off{
 
  50%{
    transform: rotate(-180deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}


