@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

.heart-icon {
  padding: 10px 20px;
  font-size: 1.4em;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart-icon .empty {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  font-size: 1.4em;
  opacity: 1;
  transition: opacity 1500ms linear;

  &:hover {
    opacity: 0;
  }
}
.empty:hover + .full::after {
  transform: translateY(-100%);
}

.empty:hover + .full--white::after {
  transform: translateY(-100%);
}
.heart-icon .full,
.heart-icon .full--white {
  position: relative;
  cursor: pointer;
  z-index: 1;
  font-size: 1.4em;
  color: transparent;
  background: linear-gradient($color-secondary 0%, $color-primary 100%);
  background-clip: text;
  -webkit-background-clip: text;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full::after,
.full--white::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 150%;
  height: 150%;
  transition: transform 1500ms linear;
}

.full::after {
  @include lighter-bg;
}

.full--white::after {
  background: white;
}
