
//titles page d'accueil-carte restaurant

.titles{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding:5px 10px;
    line-height: 2em;
    background-color: white;

    
        & h2{
            font-size: 1em;
            margin: 0;
    }

        & h3{
            font-size: 0.9em;
            font-weight: 400;
            opacity: 0.7;
            margin: 0;
            line-height: 1em;
    }

//modificateur titles page menu -carte menu

        &.titles--menu{
          
            line-height: 2.2em;
            overflow: hidden;
  

            & h2{
                font-size: 1.1em;
             text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
            & h3{
                font-size: 1em;
             text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            }
        }
}