@use "../1-abstracts" as *;

.btn-wrapper{
    display: flex;
    justify-content: center;
    padding:30px 0 50px 0;
    
    &.btn-wrapper--order{
        padding-top:40px;
    }
} 
    


.btn-gradient{
    color: white;
    width: 190px;
    height: 45px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
   
   @include gradient;

    &.btn-gradient--order{
        width: 160px;
       
    }
}

.btn-choice{

    
    width: 100%;
    height: 70px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    
    @include lighter-bg;
    @include selection-btn-shadow;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
     
    &.btn-choice--menu{
        justify-content: flex-start;
        background-color: white;
        position: relative;
    }
}