@use "../1-abstracts" as *;

.btn{
    display: flex;
    justify-content: center;
    padding:30px 0 50px 0;
  
    @include light-bg;
    


&__gradient{
    color: white;
    width: 190px;
    height: 45px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
   
   @include gradient;
}
}