@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

.loader{
position: fixed;
display: flex;
justify-content: space-evenly;
align-items: center;
width: 100%;
height: 100%;
overflow: hidden;
background-color: white;
z-index:99999;
visibility: hidden;
animation:loading 4s linear ;


}

@keyframes loading{
  0%{
    visibility: visible;
  
  }
  90%{
    opacity: 1;
  }
  99%{
    visibility: visible;
    opacity: 1;
  }
  100%{
    visibility: hidden;
    opacity: 0;
  }
}


.loader__item-oh {

@include loading-ball;
 animation: testanimation 1100ms linear backwards;
 animation-iteration-count:3;
 opacity: 0;
 overflow: hidden;
 background-color: $color-primary;
 animation-delay: 0.1s;
}




.loader__item-my {
  @include loading-ball;
  background-color: $color-secondary;
  animation: testanimation 1100ms linear backwards ;
  animation-iteration-count:3;
  font-size: 1.2em;
  opacity: 0;
  overflow: hidden;
  background-color: $color-secondary;
  animation-delay: 0.2s;
}

.loader__item-food {
  @include loading-ball;
  animation: testanimation 1100ms linear backwards;
  animation-iteration-count:3;
  opacity: 0;
  font-size: 1.2em;
  overflow: hidden;
  background-color: $color-tertiary;
  animation-delay: 0.3s;
}

@keyframes testanimation {
  0% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  
  }

 25% {
   transform: scale(0.4);
    filter: blur(3px);
    opacity: 1;
   
  
 }
  50% {
    transform: scale(0.8);
    filter: blur(3px);
    opacity: 1;
    

  }
  75% {
    transform: scalex(1);
    filter: blur(3px);
    opacity: 1;
  
  }

  85% {
    transform: scalex(1.1);
    filter: blur(0px);
    opacity: 1;
  
 }
  100% {
   transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  
}
}



.intro {
  @include light-bg;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.intro__main-heading {
  margin-top: 0px;
  padding-top: 30px;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}
.intro__byline-heading {
  text-align: center;
  opacity: 0.6;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0;
}

.selection {
  padding: 30px 20px 40px 20px;

  & h3 {
    font-size: 1.3em;
  }
}
.selection-btn{
  display: flex;
  align-items: center;
  position: relative;
}
.selection-btn__number{

    display: inline-block;
    position: absolute;
    background-color: $color-primary;
    color: white;
    border-radius: 20px;
    width: 28px;
    height: 28px;
    left: -12px;
    bottom: 40px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  
  }
  


.selection-btn__icon {
  width: 50px;
  color: scale-color($color: $dark-bg, $blackness: 90%);
  font-weight: bold;
  font-size: 1.5em;
  padding: 0 20px;
 
 
}

.selection-btn__text {
  width: 80%;

  & p {
    text-align: left;
    font-size: 1.2em;
  }
}
.rest {
  padding: 40px 20px 30px 20px;

  @include light-bg;
  height: auto;
}

.rest-card {
  border-radius: 20px;
  margin-bottom: 20px;
  height: 230px;
  background-color: white;

  @include selection-btn-shadow;
  position: relative;
}

.rest-card__wrapper-titles-icon {
  display: flex;
  justify-content: space-between;
}

.rest-card__label {
  position: absolute;
  background-color: $color-tertiary;

  font-weight: bold;
  height: 30px;
  width: 80px;
  color: darken($color: $color-tertiary, $amount: 38%);
  bottom: 11rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
