@use "../abstracts/mixin" as *;
@use "../abstracts/variables" as *;

main {
  @include lighter-bg;
}

.menu {
  padding: 0 20px;
  border-radius: 60px 60px 0 0;
  @include lighter-bg;
  position: relative;
  top: -50px;
  height: auto;
}
.menu-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;

  & h1 {
    font-family: Shrikhand;
    font-size: 1.6em;
  }
}
.menu-content > h2 {
  font-size: 1em;
  font-weight: 400;
  opacity: 0.7;

    &::after{
        content: "";
        border-bottom: 3px solid $color-tertiary;
        display: block;
        width: 40px;
        padding-top: 5px;
    }

}

.titles-price-wrapper {
  display: flex;
  justify-content: flex-start;
}


.btn-menu__price {
  

  font-size: .8em;
  margin: 0;
  align-self: end;
  line-height: 2.2em;


    & p{
      padding-bottom: 5px;
      margin:0;
    }

}


.btn-menu__check{

  width:0px;
  height: 100%;
  background-color: $color-tertiary;
  border-radius: 0 25px 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 1;
  transform:translateX(100%);
  transition:all 350ms linear;

}



.fa-check-circle{
  color: white;
  font-size: 1.5em;
  opacity:0;
  transform:rotate(0deg);
  transition:all 250ms linear;
}

.menu-content-wrapper{
  @include desktop{
    display: flex;
    justify-content: space-evenly;
    
  }
}

.menu-content{
  @include desktop{
    width:30%;
  }
}