@use "../abstracts/mixin" as *;
@use "../abstracts/variables" as *;

main {
  @include lighter-bg;
}

.menu {
  padding: 0 20px;
  border-radius: 60px 60px 0 0;
  @include lighter-bg;
  position: relative;
  top: -50px;
  height: auto;
}
.menu-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;

  & h1 {
    font-family: Shrikhand;
    font-size: 1.6em;
  }
}
.menu-content > h2 {
  font-size: 1em;
  font-weight: 400;
  opacity: 0.7;

    &::after{
        content: "";
        border-bottom: 3px solid $color-tertiary;
        display: block;
        width: 40px;
        padding-top: 5px;
    }

}

.titles-price-wrapper {
  display: flex;
  justify-content: flex-start;
}

/*
.price {
  position: absolute;
  right: 3rem;
  bottom: -0.1rem;
  opacity: 0.8;
  font-size: 1em;
  width: 70px;
  display: flex;
  justify-content: end;
  animation: check-off 450ms linear forwards reverse;
  animation-delay: 100ms;
  
}

*/

.price {
  
  opacity: 0.8;
  font-size: 1em;
  width: 70px;
  display: flex;
  justify-content: end;
  align-self: flex-end;
  margin-right: 40px;
  animation: check-off 450ms linear forwards reverse;
  animation-delay: 100ms;
  
}



.check{
  width:70px;
  height: 70px;
  background-color: $color-tertiary;
  border-radius: 0 25px 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  overflow: hidden;
  opacity: 0;

  animation:check-off 450ms linear reverse;

}

.fa-check-circle{
  color: white;
  font-size: 1.5em;

  animation:circle-turn-off 350ms;
}