
@use "../1-abstracts/variables" as *;
@use "../1-abstracts/mixin" as *;

.location{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-bg;
    height: 50px;
    @include header-shadow;
}
.location__icon-text{
  
    display: flex;
    justify-content: center;
    align-items:center;
  
    
}


input{
 
    border: none;
    background-color: $dark-bg;
    height: 30px;
    

&::placeholder{
    color: black;
    font-weight: bold;
    opacity: 0.8;
    padding-left: 10px;
    border-top: 1px solid $dark-bg;
    font-size: 1.1em;
 
}
}
