
@use "../1-abstracts" as *;


.selection-btn__textt{
  
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: $dark-bg;
    margin-bottom: 0px;
    padding-left: 10px;
    height: 45px;
    
}
.fa-map-marker-alt{
    font-size: 0.65em;
}

input{
 
    border: none;
    background-color: $dark-bg;
    height: 30px;
    

&::placeholder{
    color: black;
    font-weight: bold;
    opacity: 0.8;
    padding-left: 10px;
    border-top: 1px solid $dark-bg;
    font-size: 1.1em;
 
}
}
