@use "../1-abstracts" as *;

.header{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

    &.header--arrow{
        position:relative;
   
    }
}

.fa-arrow-left{
    font-size: 1.3em;
    width: 100px;
    position: absolute;
    left:1.6rem;
    bottom: 1.3rem;
}