@use "../1-abstracts/variables" as *;
@use "../1-abstracts/mixin" as *;

.loader{
 position: fixed;

  width: 100%;
  height: 100%;
//z-index:99999;

display: flex;
justify-content: space-evenly;
align-items: center;


}


.loader__item-oh {

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Shrikhand;
  width: 15vw;
  height: 15vw;
  border-radius: 100%;
  background-color: $color-primary;
animation-delay: 0.1s;
font-size: 1.2em;
 animation: testanimation 1100ms 0.1s  linear ;
 animation-iteration-count:4;
animation-fill-mode: backwards;
 
 opacity: 0;
 overflow: hidden;

}




.loader__item-my {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Shrikhand;
  width: 15vw;
  height: 15vw;
  border-radius: 100%;
  background-color: $color-secondary;

  animation: testanimation 1100ms 0.2s linear ;
  animation-iteration-count:4;
  animation-fill-mode: backwards;
 
  font-size: 1.2em;
  opacity: 0;
  overflow: hidden;
}

.loader__item-food {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Shrikhand;
  width: 15vw;
  height: 15vw;
  border-radius: 100%;
  background-color: $color-tertiary;

  animation: testanimation 1100ms 0.3s linear ;
  animation-iteration-count:4;
  animation-fill-mode: backwards;
 
  opacity: 0;
  font-size: 1.2em;
  overflow: hidden;
}
@keyframes testanimation {
  0% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  
   
    
  }

 25% {
   transform: scale(0.4);
    filter: blur(3px);
    opacity: 1;
   
   
  
 }
  50% {
    transform: scale(0.8);
    filter: blur(3px);
    opacity: 1;
    

  }
  75% {
    transform: scalex(1);
    filter: blur(3px);
    opacity: 1;
  
    
  }

  85% {
    transform: scalex(1.1);
    filter: blur(0px);
    opacity: 1;
  
    
   
 }
  100% {
   transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  
  
  
}}



.intro {
  @include light-bg;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.intro__main-heading {
  margin-top: 0px;
  padding-top: 30px;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}
.intro__byline-heading {
  text-align: center;
  opacity: 0.6;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0;
}

.selection {
  padding: 30px 20px 40px 20px;

  & h3 {
    font-size: 1.3em;
  }
}
.selection-btn{
  display: flex;
  align-items: center;
  position: relative;
}
.selection-btn__number{

    display: inline-block;
    position: absolute;
    background-color: $color-primary;
    color: white;
    border-radius: 20px;
    width: 28px;
    height: 28px;
    left: -12px;
    bottom: 40px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  
  }
  


.selection-btn__icon {
  width: 25%;
  color: scale-color($color: $dark-bg, $blackness: 90%);
  font-weight: bold;
  font-size: 1.5em;
 
 
}

.selection-btn__text {
  width: 80%;

  & p {
    text-align: left;
    font-size: 1.2em;
  }
}
.rest {
  padding: 40px 20px 30px 20px;

  @include light-bg;
  height: auto;
}

.rest-card {
  border-radius: 20px;
  margin-bottom: 20px;
  height: 230px;
  background-color: white;

  @include selection-btn-shadow;
  position: relative;
}

.rest-card__wrapper-titles-icon {
  display: flex;
  justify-content: space-between;
}

.rest-card__label {
  position: absolute;
  background-color: $color-tertiary;

  font-weight: bold;
  height: 30px;
  width: 80px;
  color: darken($color: $color-tertiary, $amount: 38%);
  bottom: 11rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
