@use "../1-abstracts/mixin" as *;
@use "../1-abstracts/variables" as *;

main {
  @include lighter-bg;
}

.menu {
  padding: 0 20px;
  border-radius: 60px 60px 0 0;
  @include lighter-bg;
  position: relative;
  top: -50px;
  height: auto;
}
.menu-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;

  & h1 {
    font-family: Shrikhand;
    font-size: 1.6em;
  }
}
.menu-content > h2 {
  font-size: 1em;
  font-weight: 400;
  opacity: 0.7;

    &::after{
        content: "";
        border-bottom: 3px solid $color-tertiary;
        display: block;
        width: 40px;
        padding-top: 5px;
    }

}

.titles-price-wrapper {
  display: flex;
  justify-content: flex-start;
}
.price {
  position: absolute;
  right: 1.5rem;
  bottom: -0.1rem;
  opacity: 0.8;
  font-size: 1em;
}

