@use "../1-abstracts/mixin" as *;

main{
    @include lighter-bg; 
}

.menu {
  padding: 0 20px;
  border-radius: 60px 60px 0 0;
  @include lighter-bg; 
  position: relative;
  top: -50px;
  height: auto;
}
.menu-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;

  & h1 {
    font-family: Shrikhand;
    font-size: 1.6em;
  }
}
.menu-content > h2 {
  font-size: 1.3em;
  font-weight: 400;
  opacity: 0.7;
}

.titles-price-wrapper {
  display: flex;
  justify-content: flex-start;
}
.price {
  position: absolute;
  right: 1rem;
  bottom: -0.4rem;
}

.price > p {
  font-size: 1.2em;
}
