@use "../1-abstracts/mixin" as *;
.menu{
    padding:0 20px;
    @include lighter-bg;
}
.menu-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;

        & h1{
            font-family: Shrikhand;
            font-size: 1.6em;
        }
 
}
.entree >h2{

    font-size: 1.3em;
    font-weight: 400;
    opacity: 0.7;
}

.titles-price-wrapper{
    display: flex;
    justify-content: flex-start;
}
.price{
    position: absolute;
    right: 1rem;
    bottom: -0.4rem;
}

.price >p{
    font-size: 1.2em;
}